.champion {
    box-sizing: border-box;
    background-color: black;
    height: 160px;
    padding-top: 5px;
    border: 2px solid transparent;
}

.champion:hover {
    border: 2px solid white;
    background-color: rgb(71, 71, 71);
    color: teal;
}

.champion p {
    margin: 0;
    color: white;
    text-align: center;
}
.champion img {
    width: 100px;
    height: 100px;
}
