.champion {
    box-sizing: border-box;
    background-color: black;
    height: 160px;
    padding-top: 5px;
    border: 2px solid transparent;
}

.champion:hover {
    border: 2px solid white;
    background-color: rgb(71, 71, 71);
    color: teal;
}

.champion p {
    margin: 0;
    color: white;
    text-align: center;
}
.champion img {
    width: 100px;
    height: 100px;
}

.red-button {
    width: 50px;
    background-color: rgb(211, 49, 49);
    border-radius: 0px;
    border: none;
    color: rgb(255, 187, 187);
    padding: 4px;
    margin: 2px;
    border: 1px solid white;
}
.blue-button {
    width: 50px;
    background-color: rgb(64, 64, 228);
    border-radius: 0px;
    border: none;
    color: rgb(188, 196, 255);
    padding: 4px;
    margin: 2px;
    border: 1px solid white;
}

button:focus {
    outline: none;
}
