.team {
    background-color: #cccccc;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.team-list {
    overflow: scroll;
}
.red-team {
    height: 50px;
    background-color: #ff6868;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-team {
    height: 50px;
    background-color: #2860fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-header {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.red-team .team-header {
    color: rgb(255, 211, 211);
}

.blue-team .team-header {
    color: rgb(202, 202, 255);
}
