.team-member {
    box-sizing: border-box;
    background-color: black;
    height: 140px;
    padding-top: 5px;
    border-bottom: 2px solid rgb(94, 92, 92);
}

.team-member img {
    height: 80px;
    width: 80px;
    padding: 5px;
}

.team-member p {
    margin: 0;
    color: white;
    text-align: center;
}

.remove {
    background-color: rgb(134, 18, 18);
    border-radius: 0;
    padding: 4px;
    width: 100%;
    border: none;
    color: white;
}

/* .remove:hover {
    background-color: rgb(255, 65, 65);
    color: black;
} */
