.team {
    background-color: #000000;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.team-list {
    overflow: scroll;
}
.red_team {
    height: 50px;
    background-color: #d63434;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_team {
    height: 50px;
    background-color: #2860fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-header {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.red_team .team-header {
    color: rgb(255, 211, 211);
}

.blue_team .team-header {
    color: rgb(202, 202, 255);
}

.submit-name {
    display: none;
}

.red_team .name-input {
    background-color: rgb(139, 35, 35);
    border: 2px solid rgb(219, 139, 139);
    padding: 5px;
    color: white;
    text-align: center;
}

.red_team .name-input::placeholder {
    color: rgb(247, 155, 155);
    text-align: center;
}

.red_team .name-input:focus {
    border: 2px solid white;
    outline: none;
}

.blue_team .name-input {
    background-color: rgb(28, 22, 145);
    border: 2px solid rgb(122, 154, 240);
    padding: 5px;
    color: white;
    text-align: center;
}

.blue_team .name-input:focus {
    border: 2px solid white;
    outline: none;
}

.blue_team .name-input::placeholder {
    color: rgb(155, 184, 247);
    text-align: center;
}
